head {
    width: 40px;
    height: 40px;
    color: black;
}
  
body {
    width: 10px;
    height: 60px;
    color: black;
}

rightArm {
    width: 30px;
    height: 10px;
    color: black;
}

leftArm {
    width: 30px;
    height: 10px;
    color: black;
}

rightLeg {
    width: 30px;
    height: 10px;
    color: black;
}

leftLeg {
    width: 30px;
    height: 10px;
    color: black;
}