head {
    width: 40px;
    height: 40px;
}
  
body {
    width: 10px;
    height: 60px;
}

rightArm {
    width: 30px;
    height: 10px;
}

leftArm {
    width: 30px;
    height: 10px;
}

rightLeg {
    width: 30px;
    height: 10px;
}

leftLeg {
    width: 30px;
    height: 10px;
}